/data
processor.py
testing.py
__pycache__
dataenv
docker-compose.dev.yml
Dockerfile
local_processor_docker.py
.ipynb_checkpoints
actual_visualizations.ipynb
recipes.json
neo_extractor.py
archive.yml
data.zip